# Database
DATABASE_URL="postgresql://user:password@localhost:5432/grmrmoney"

# NextAuth
NEXTAUTH_SECRET="your-nextauth-secret-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# TRON
TRON_NETWORK="mainnet" # or "shasta" for testnet
TRON_GRID_API_KEY="" # Optional, for rate limits

# App
NODE_ENV="development"
